html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


@font-face {
  font-family: myFont;
  src: url(fonts/ChakraPetch-SemiBold.ttf);
}

.mybutton {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: white;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  color: white;

  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: myFont;
  cursor: pointer;
  box-sizing: border-box;
}

.mybutton:hover {
  border-color: gray;
  color: gainsboro;
}

.myinput {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: white;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  color: white;

  padding: 5px 15px;
  font-size: 20px;
  font-family: myFont;
  box-sizing: border-box;
}

.startGame {
  width: 300px;
}
.leaderboard {
  width: 300px;
}
.submit {
  width: 100px;
}
.omit {
  width: 100px;
}
.return {
  width: 200px;
}
.inputZone {
  width: 400px;
}
